
.event {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}
.event:hover {
    transform: scale(1.05);
}

.event .eventName {
    font-weight: 500;
    font-style: italic;
}

.event .eventLoc {
    
}