table.eventsTable {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 20px;
}

table.eventsTable td, th {
    border: 2px solid;
    border-color: #423F88;
    text-align: left;
    padding: 8px;
    max-width: 100px;
}

table.eventsTable tr {
    width: 100px;
    cursor: pointer;
    
}


table.eventsTable tr:nth-child(even){
    background-color: rgba(112, 128, 144, 0.489);
}